<%
    let pokemonTypes = [
        "normal",
        "fire",
        "water",
        "electric",
        "grass",
        "ice",
        "fighting",
        "poison",
        "ground",
        "flying",
        "psychic",
        "bug",
        "rock",
        "ghost",
        "dragon",
        "dark",
        "steel",
        "fairy"
    ]
%>

<%- include("partials/header") %>
<form>
    <div class="framed">
        <% if (player.pokemon.length > 0) { %>
        <table width="100%">
            <thead>
                <th>Image</th>
                <th>Name</th>
                <th>Weight</th>
                <th>Height</th>
                <th>Types</th>
                <th style="width: 150px">HP</th>
                <th></th>
            </thead>
            <% for (let pokemon of player.pokemon) { %>
            <tr>
                <td><img src="<%= pokemon.image %>" /></td>
                <td><%= pokemon.name %></td>
                <td><%= pokemon.weight %></td>
                <td><%= pokemon.height %></td>
                <td>
                    <% for (let type of pokemon.types) { %>
                        <img src="/images/types/<%= type %>.gif" />
                    <% } %>
                </td>
                <td>
                    <div class="progress-bar-container"><div class="progress-bar p<%= Math.floor((pokemon.currentHp / pokemon.maxHp)*100) %>" id="progressBarG"></div></div>
                    <div style="margin-top: 5px"><%= pokemon.currentHp %>/<%= pokemon.maxHp %></div>
                </td>
                <td>
                    <button formmethod="post" formaction="/player/<%= player._id %>/pokemon/delete/<%= pokemon.id %>">
                        X
                    </button>
                </td>
            </tr>
            <% } %>
        </table>
        <div class="poke-summary">
            <table>
                <tr>
                    <th>Used types</th>
                    <td>
                        <% for (let type of types) { %>
                        <img src="/images/types/<%= type %>.gif" />
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <th>Largest</th>
                    <td><%= largest.name %></td>
                </tr>
                <tr>
                    <th>Smallest</th>
                    <td><%= smallest.name %></td>
                </tr>
            </table>
        </div>
        <% } else { %>
        <p>You don't have any pokemon yet!</p>
        <% } %>
    </div>

    <div class="framed" id="allPokemon">
        <% for (let pokemon of allPokemon) { %>
        <button formmethod="post" formaction="/player/<%= player._id %>/pokemon/add/<%= pokemon.id %>">
            <%= pokemon.name %> #<%= pokemon.id %>
        </button>
        <% } %>

        <div class="type-filter">
            <% for (let type of pokemonTypes) { %>
                <a href="/player/<%= player._id %>/pokemon?filter=<%= type %>#allPokemon"><img src="/images/types/<%= type %>.gif"></a>
            <% } %>
        </div>
    </div>

    <div class="framed">
        Welcome <%= player.name %>. What do you want to do: <br /><br />

        <button formaction="/player/<%= player._id %>">Back</button>
    </div>
</form>

<%- include("partials/footer") %>
